<%- include("./partials/header.ejs",{title:"Update URL" }) %>

<h1>Modifier l'URL</h1>
<form action="/update/<%= url.short %>" method="post">
    <div>
         <label for="fullUrl">URL Long:</label>
         <input type="text" id="fullUrl" name="fullUrl" value="<%= url.full %>" required>
    </div>

    <div>
        <label for="shortUrl">URL Court:</label>
        <input type="text" id="shortUrl" name="shortUrl" value="<%= url.short %>" required>
    </div>

    <button type="submit">Enregistrer</button>
    
</form>


<%- include("./partials/footer.ejs") %>