<%- include("./partials/header.ejs",{title:"URL Shortener" }) %>
<main>
  <h1>Raccourcisseurs d'URL</h1>

  <form action="/shorten" method="POST">
    <input type="text" name="fullUrl" placeholder="Entrez l'URL" required>
    <button id="rac" type="submit">Raccourcir</button>
  </form>
  
  <!-- afficher les URLs stockées -->
  <ul>
    <% for (let i = 0; i < urls.length; i++) { %>
      <li>
        <span>Url long:</span>
        <a href="<%= urls[i].full %>" target="_blank"><%= urls[i].full %></a>
      </li>
  
      <li>
        <span>Url Court:</spans>
        <a href="/<%= urls[i].short %>" target="_blank">/<%= urls[i].short %></a>
      </li>
  
      <img src="<%= urls[i].qrCode %>" alt="QR Code">
    

      <!-- script pour gerer les requetes DELETE-->
      
      <button id="delete" name="<%= urls[i].short %>" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
      </button>
     
       <!-- Lien pour modifier l'URL -->
       <a href="/edit/update/<%= urls[i].short %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
      </a>

      <!-- Bouton pour télécharger l'URL -->
      <form action="/download/<%= urls[i].short %>" method="GET" style="display:inline;">
        <button id="telecharge" type="submit" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1z"/>
            <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
          </svg>
        </button>
      </form>     

    <% } %>
  </ul> 
 

</main>

<script src="/js/deleteUrl.js"></script>

<%- include("./partials/footer.ejs") %>
