<%- include("./partials/header.ejs",{title:"URL Shortener" }) %>
<main>
  <h1>Raccourcisseurs d'URL</h1>

  <form action="/shorten" method="POST">
    <input type="text" name="fullUrl" placeholder="Entrez l'URL" required>
    <button type="submit">Raccourcir</button>
    <button type="submit">Supprimer les liens</button>
  </form>
  
  <!-- afficher les URLs stockées -->
  <ul>
    <% for (let i = 0; i < urls.length; i++) { %>
      <li>
        <span>Url long:</span>
        <a href="<%= urls[i].full %>" target="_blank"><%= urls[i].full %></a>
      </li>
  
      <li>
        <span>Url Court:</spans>
        <a href="/<%= urls[i].short %>" target="_blank">/<%= urls[i].short %></a>
      </li>
  
      <img src="<%= urls[i].qrCode %>" alt="QR Code">
      <br>

      <!-- script pour gerer les requetes DELETE-->
     
      <button id="delete" name="<%= urls[i].short %>" type="submit">Supprimer</button>
     
       <!-- Lien pour modifier l'URL -->
       <a href="/edit/update/<%= urls[i].short %>">Modifier</a>

       <!-- Bouton pour télécharger l'URL -->
       <form action="/download/<%= urls[i].short %>" method="GET" style="display:inline;">
         <button type="submit">Télécharger</button>
       </form>

    <% } %>
  </ul> 
 

</main>

<script src="/js/deleteUrl.js"></script>

<%- include("./partials/footer.ejs") %>
